In [1]:
# Import important libraray
import numpy as np
import pandas as pd

# Two data types: Series and DataFrame
# Series can only contain single list with index
# Dataframe is a collection of series that can be used to analyse the data (a table with rows and columns)
from pandas import Series, DataFrame

In [2]:
# Without an index
#serios_obj = Series(np.arange(10))
#serios_obj
# With an index
# Practise both
series_obj = Series(np.arange(10), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6','row 7', 'row 8', 'row 9', 'row 10'])
series_obj

row 1     0
row 2     1
row 3     2
row 4     3
row 5     4
row 6     5
row 7     6
row 8     7
row 9     8
row 10    9
dtype: int64

In [3]:
# Print the index of row 7
series_obj['row 7']

np.int64(6)

In [4]:
# Print both indexes at row 1 & 8
series_obj[[0, 7]]

C:\Users\Amina\AppData\Local\Temp\ipykernel_1740\2706347940.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int64

In [ ]:
# Populate the list with random values
np.random.seed(25)

# Search random.seed in Python and provide an explaniation here: With random.seed it ensures that you get the same sequence of numbers each time and without it the numbers vary/ differ each time.
# What does seed function do?
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

# Run the above code with and without np.random.seed and reflect on the difference here: With it same numbers appear and without it the numbers vary each time.

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
#Find data at different location
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]
# What does loc function do? Allows you to access specific rows and columns based on their labels.

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [7]:
series_obj['row 3': 'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

In [8]:
DF_obj < .2
# Use greater than instead and reflect on the result

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

In [ ]:
DF_obj > 0.2
# shows which cells in the DataFrame have values greater than 0.2.

       column 1  column 2  column 3  column 4  column 5  column 6
row 1      True      True      True     False      True     False
row 2      True      True      True      True      True     False
row 3      True      True     False      True      True      True
row 4      True      True      True      True      True      True
row 5      True      True     False      True      True      True
row 6      True      True      True      True      True      True

In [ ]:
# Retrieves all elements in series_obj that are greater than 6.
series_obj[series_obj > 6]

row 8     7
row 9     8
row 10    9
dtype: int64

In [15]:
# Retrive all elements that are smaller than 5
series_obj[series_obj < 5]

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
dtype: int64

In [16]:
# Assign the value 8 to specific rows using .loc
series_obj.loc[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1     8
row 2     1
row 3     2
row 4     3
row 5     8
row 6     5
row 7     6
row 8     8
row 9     8
row 10    9
dtype: int64